src/main/resources/cars.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://epam.com/demo/soap/WSCar10" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://epam.com/demo/soap/WSCar10" targetNamespace="http://epam.com/demo/soap/WSCar10">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://epam.com/demo/soap/WSCar10">
            <xs:element name="GetCarsByBrandRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inParams" type="tns:GetCarsByBrandInParams"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCarsByBrandResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="outParams" type="tns:GetCarsByBrandOutParams"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="GetCarsByBrandInParams">
                <xs:sequence>
                    <xs:element name="brandName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetCarsByBrandOutParams">
                <xs:sequence>
                    <xs:element name="ResultSet" type="tns:GetCarsByBrandOutResultSet"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetCarsByBrandOutResultSet">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultSetRow" type="tns:GetCarsByBrandOutResultSetRow"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetCarsByBrandOutResultSetRow">
                <xs:sequence>
                    <xs:element name="brand" type="xs:string"/>
                    <xs:element name="model" type="xs:string"/>
                    <xs:element name="color" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetCarsByBrandRequest">
        <wsdl:part element="tns:GetCarsByBrandRequest" name="GetCarsByBrandRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCarsByBrandResponse">
        <wsdl:part element="tns:GetCarsByBrandResponse" name="GetCarsByBrandResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CarsPort">
        <wsdl:operation name="GetCarsByBrand">
            <wsdl:input message="tns:GetCarsByBrandRequest" name="GetCarsByBrandRequest"></wsdl:input>
            <wsdl:output message="tns:GetCarsByBrandResponse" name="GetCarsByBrandResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarsPortSoap11" type="tns:CarsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCarsByBrand">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetCarsByBrandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCarsByBrandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarsPortService">
        <wsdl:port binding="tns:CarsPortSoap11" name="CarsPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>